1.Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line

In [43]:
k=2000
while(k<=3200):
    if((k%7==0) and (k%5!=0)):
        print(k, end=",")
        
    k=k+1
#else:print("done")

##But here i was not able to remove last ","

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [38]:
for x in range(5):
    print(x, sep=",")

0
1
2
3
4

In [1]:
j=[]
k=2000
while(k<=3200):
    if((k%7==0) and (k%5!=0)):
        #print(k, end=",")
        j.append(k)
        
    k=k+1
else:print(*j,sep=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

2.Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [54]:
name1=input("enter your name:")
name2=input("enter your surname:")
print(name1+" "+name2)
name1=name1[::-1]
name2=name2[::-1]
print(name1+" "+name2)

enter your name:santosh
enter your surname:sultanapur
santosh sultanapur
hsotnas rupanatlus

In [7]:
a=int(input("enter length:"))
for i in range(0,a+1):
    for j in range(0,i):
        print("*",end="")
    print()
for i in range(a+1,0,-1):
    for j in range(0,i):
        print("*",end="")
    print()

enter length:5

*
**
***
****
*****
******
*****
****
***
**
*

3.volume of a sphere with diameter 12 cm(V=4/3 * π * r3)

In [7]:
import math
r=12

v=(4/3)*(math.pi)*pow(r,3)
print (v)

7238.229473870882

Task 2:
1.Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [18]:
a=input("enter comma seperated numbers:")
print(a)
print(type(a))
b=[]
b.append(a)
print(type(b))
print(b)

enter comma seperated numbers:1,2
1,2
<class 'str'>
<class 'list'>
['1,2']

2.Create the below pattern using nested for loop in Python. 
 *
**
***
****
*****
******
*****
****
***
**
*

In [ ]:
a=int(input("enter length:"))
for i in range(0,a+1):
    for j in range(0,i):
        print("*",end="")
    print()
for i in range(a+1,0,-1):
    for j in range(0,i):
        print("*",end="")
    print()

In [ ]:
3.Write a Python program to reverse a word after accepting the input from the user.

In [17]:
name1=input("enter your name:")
name2=input("enter your surname:")
print(name1+" "+name2)
name1=name1[::-1]
name2=name2[::-1]
print(name1+" "+name2)

enter your name:Satosh
enter your surname:SultaNapur
Satosh SultaNapur
hsotaS rupaNatluS

4.Write a Python Program to print the given string in the format specified in the ​sample output. 
 WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens 
 
Sample Output: 
 
WE, THE PEOPLE OF INDIA,   having solemnly resolved to constitute India into a SOVEREIGN, !  SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC    and to secure to all its citizens

In [63]:
a="WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"
for i in a:
    print(a[i])

TypeError: string indices must be integers